<!DOCTYPE html>
<html>
<head>
    <title>Django Project</title>
</head>
<body>
    <h1> PROGRAMACIÓN ORIENTADA A EVENTOS</h1>
    <h2> Alumna Ana Karen Colin Herrera </h2>
    <h3> Objetos, controles y componentes </h3>
    <h4> Tecnología .NET. </h4>
    <h5> Entorno integrado de desarrollo </h5>
    <h6> Tipos De Proyectos </h6>
    <h7> Espacios De Nombres </h7>
    <h8> Estructuras propias del lenguaje: comentarios, constantes, tipos de datos, varibles, operadores, sentencias, matrices, procedimientos y funciones, estructuras de control, controles basicos </h8>
    <h9> CONTROLES ESTÁNDAR <h9>
    <h10> Eventos y propiedades del formulario <h10>
    <h11> Tipos de formulario <h11>
    <h12> Cajas de diálogo <h12>
    <h13> Menú <h13>
    <h14> INTRODUCCIÓN <h14>
    <h15> Controles de acceso a datos <h15>
    <h16> Herramientas de acceso a datos <h16>
    <h17> Manipulacion de datos <h17>	
     </body>
</html>