<!DOCTYPE html>
<html>
<head>
    <title>Django project</title>
</head>
<body>

    <h1> PROGRAMACIÓN ORIENTADA A EVENTOS</h1>
    <h2> Alumna Ana Karen Colin Herrera </h2>
    <h3> Objetos, controles y componentes </h3>
    <h4> Tecnología .NET. </h4>
    <h5> Entorno integrado de desarrollo </h5>
    <h6> Tipos De Proyectos </h6>
    <h7> Espacios De Nombres </h7>
    <h8> Estructuras propias del lenguaje: comentarios, constantes, tipos de datos, varibles, operadores, sentencias, matrices, procedimientos y funciones, estructuras de control, controles basicos </h8>

</body>
</html>